body{
    background-color: rgb(187, 124, 41);;
}
h1{

    font-size: 50px;
    color: rgb(187, 124, 41);
    text-align: center;
}
.cozinhaimg{
    width: 500px;
    min-height: 500px;
    margin-left: 100px;
}
.cabecalho{
background-color: rgb(212, 176, 132);
display: flex;
}
.logoimg{
width: 200px;
height: 200px;    
}
.listacabecalho{
    display: flex;
    margin-left: 450px;
    margin-top: 100px
}
.itemlistacabecalho{
    list-style: none;
    text-transform: uppercase;
    font-size: 35px;
    color: black;
    padding-left: 30px;
}

.cookies prontos.jpeg{
    width: 300px;
    min-height: 300px;
    margin-left: 150px;
}

